<div class="marginl'">

    <button type="button" class="col-sm-1 btn btn-primary fr" routerLink="/">Back</button>
    <h4>Posts of {{userName}} </h4>
    <table class="col-lg-12 col-md-12 col-sm-12 table table-striped">
        <thead>
            <tr>

                <td colspan="3"><b>id</b></td>
                <td colspan="3"><b>Title</b></td>
                <td colspan="3"><b>Body</b></td>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let post of posts | slice: (page-1) * pageSize : page * pageSize ; let i = index ">
                <td colspan="3">{{post.id}}</td>
                <td colspan="3">{{post.title}}</td>
                <td colspan="3">{{post.body}}</td>
            </tr>

        </tbody>

    </table>

    <div class="row">
         
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="posts.length"></ngb-pagination>
    </div>

</div>
